<div class="subpanel-Location widget sub-page col-md-12" style="display: none;" name='location'>
    <div id="subpanel-location">
        <div class="col-md-12 pad0">
            <div class="cardbox">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <span>Device Location</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body text-center textcard pad0" style="position:relative">
                </div>
            </div>
        </div>
    </div>
    <h4 class="row">
        <div id="loc-long" class="col-md-offset-2 col-md-3"></div>
        <div id="loc-lat" class="col-md-3"></div>
        <div id="loc-status" class="col-md-3"></div>
    </h4>
</div>