<!-- #region OOB Information -->
<div class="col-md-12">
    <div class="subpanel-OOB widget sub-page" style="display: none;" name='oob'>
        <h4 style="display: none;">InnoAGE Index :<span id="btn-indx-innoage"></span></h4>
        <div class="col-md-12 pad0 cardbox">

            <div class="panel-heading">
                InnoAGE
            </div>

            <div style="display: flex; flex-direction:column;padding-left: 60px;padding-top: 10px;">
                <h3><b>InnoAGE SSD</b></h3>
                <div style="display: flex; align-items: flex-end;">
                    <img id="oob-led" src="" alt="" />
                    <span style="padding-right: 15px;">OOB</span>

                    <img id="os-heartbeat-led" src="" alt="" />
                    <span>OS Heartbeat</span>
                </div>

                <div id="OOBTab-service" class="remote item2" style="padding-top: 24px;"></div>​

            </div>
        </div>

        <div class="col-md-12 pad0 cardbox">
            <div class="panel-heading">
                Detail Information
            </div>
            <table class="table">
                <tbody style="border-bottom: 1px solid #ddd;">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- #region OOB Information End -->