<div class="subpanel-MB widget sub-page" style="display: none;" name='mb'>
    <div class="row cardbox panel-default dev_overview">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    Motherboard Information
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
        <div class="panel-body pad0">
            <table class="table table-striped">
                <tbody id="subpanel-MB-data">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- #endregion -->