<div class="subpanel-Storage widget sub-page" style="display: none;" name='storage'>
    <h4 id="btn-indx-storage">Storage Index :</h4>
    <div class="row cardbox panel-default dev_overview">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    Storage Information
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
        <div class="panel-body pad0">
            <table class="table table-striped mem-0">
                <tbody>
                    <tr>
                        <td><b>Index</b></td>
                        <td id="stor-id">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Model</b></td>
                        <td id="stor-model">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Serial Number</b></td>
                        <td id="stor-sn">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Firmware Version</b></td>
                        <td id="stor-firmver">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Capacity</b></td>
                        <td id="stor-cap">N/A</td>
                    </tr>
                    <tr>
                        <td><b>P/E Cycle</b></td>
                        <td id="stor-pe">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>