<div class="subpanel-MEM widget sub-page" style="display: none;" name='mem'>
    <!-- <div class="col-md-12" id="showDate">Date:</div> -->
    <div class="col-md-12">
        <div id="mem-loading" class="subpanel-MEM widget sub-page" name='mem'></div>
    </div>
    <div class="col-md-12">
        <h4 id='btn-indx-mem'>Memory Index :
        </h4>
    </div>
    <div class="col-md-6">

        <div class="row cardbox dev_overview">
            <div class="tab-content bg-color-05">
                <div class="row" >
                    <div class="col-md-8 title">
                        Product Information
                    </div>
                    <div class="col-md-4 text-right">
                    </div>
                </div>
            </div>
            <div class="tab-content cardbox long">
                <table class="table table-striped">
                    <tbody id="subpanel-mem-info-table">
                        <tr>
                            <td>
                                <b>Part Number</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Manufacturer</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>DRAM type</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Data Rate</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Capacity</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>DIMM Type</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Operating Temp. </b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>CAS Latency</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>IC Configuration</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>IC Brand</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Serial Number</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Datecode</b>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Thermal Sensor Support</b>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='note'>Information with * remark is only available for Innodisk standard
            P/N</div>
    </div>

    <div class="col-md-6 feature">
        <div class='item1' style="overflow: hidden;">
            <div class="row cardbox dev_overview">
                <div class="tab-content bg-color-05">
                    <div class="row">
                        <div class="col-md-8 title">
                            Features
                        </div>
                        <div class="col-md-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="tab-content cardbox short">
                    <table class="table table-striped" id='feature-table'>
                        <tr>
                            <th>IC Grade</th>
                            <td></td>

                        </tr>
                        <tr>
                            <th>Anti-sulfuration Feature</th>
                            <td></td>

                        </tr>
                        <tr>
                            <th>30μ" Golden Finger</th>
                            <td></td>

                        </tr>
                        <tr>
                            <th>Write Protection</th>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Tab panes -->
        </div>
        <div class="item2">
            <canvas id="tempChart"></canvas>
        </div>
    </div>
</div>