<main class="card-body cardbox setting">
    <div class="col-md-4 cardbox_left text-center">
        <ul class="nav nav-tabs col-md-12">
            <!-- <li class="active">
                <a data-toggle="tab" href="#dashboard" class="fa fa-tachometer"></a>    
            </li>                        -->
            <li>
                <!-- <a data-toggle="tab" href="#dashboard" class="fa fa-th"></a>     -->
                <a data-toggle="tab" href="#dashboard" class="fa fa-tachometer"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#group" class="fa fa-window-restore"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#profile" class="fa fa-database"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#device" class="fa fa-exchange"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#threshold" class="fa fa-line-chart"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#usercontrol" class="fa fa-user"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#usercreate" class="fa fa-user-plus"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#mail" class="fa fa-envelope"></a>
            </li>
            <!-- <li>
                <a data-toggle="tab" href="#cardcontrol"class="fa fa-area-chart" aria-hidden="true"></a>    
            </li> -->
            <li>
                <a data-toggle="tab" href="#widget" class="fa fa-area-chart"></a>
            </li>
            <li style="display: none;">
                <a data-toggle="tab" href="#settingFrameScreenShot" class="fa fa-camera"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#customized-map" class="fa fa-map"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#device-data" class="fa fa-file-text-o"></a>
            </li>
            <li>
                <a data-toggle="tab" href="#api-key" class="fa fa-key"></a>
            </li>
            <!-- <li>
                <a data-toggle="tab" href="#images" class="fa fa-picture-o"></a>
            </li> -->
        </ul>
        <div class="tab-content">
            <div id="dashboard" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <!-- <i class="fa fa-th fa-5x" aria-hidden="true"></i> -->
                        <i class="fa fa-tachometer fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Dashboard Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can edit or create new dashboards on this page.
                    </p>
                </div>
            </div>
            <div id="group" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <!-- <i class="fa fa-th fa-5x" aria-hidden="true"></i> -->
                        <i class="fa fa-window-restore fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Group Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can setup groups on this page.
                    </p>
                </div>
            </div>
            <div id="profile" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Profile Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can modify your profiles on this page.
                    </p>
                </div>
            </div>
            <div id="device" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Device Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can modify device profiles on this page.
                    </p>
                </div>
            </div>
            <div id="threshold" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Threshold Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can create the new threshold rule, and choose the group(s) which you want to follow.
                    </p>
                </div>
            </div>
            <div id="branch" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-code-fork fa-5x" aria-hidden="true"></i>
                    </p>

                    <h3>
                        <b>Branch setting</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can modify the branch setting at this page.
                    </p>
                </div>
            </div>
            <div id="usercontrol" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>User Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can modify user profiles and their permission on this page.
                    </p>
                </div>
            </div>
            <div id="settingFrameScreenShot" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Screen Shot Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can modify Screen Shot Settings on this page.
                    </p>
                </div>
            </div>
            <div id="usercreate" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Create User</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can create new users on this page.
                    </p>
                    <p style="color:red;">* = Required field</p>
                </div>
            </div>
            <div id="mail" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Mail Server</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can change the outgoing server's settings on this page.
                    </p>
                </div>
            </div>
            <div id="images" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Image Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can change image settings on this page.
                    </p>
                </div>
            </div>
            <div id="widget" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-area-chart fa-5x " aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Widget Settings</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can customize widgets on this page.
                    </p>
                </div>
            </div>
            <div id="customized-map" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-map fa-5x " aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Customized Map</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can design a customized unique map on this page.
                    </p>
                </div>
            </div>
            <div id="device-data" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-map fa-5x " aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Database Data</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can setup the period you want to keep the data.
                    </p>
                </div>
            </div>
            <div id="api-key" class="tab-pane fade in">
                <div class="col-md-12">
                    <p class="titleicon">
                        <i class="fa fa-map fa-5x " aria-hidden="true"></i>
                    </p>
                    <h3>
                        <b>Api Key</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <p>
                        You can update key on this page.
                    </p>
                    <div>Last Update: <b id='time'></b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 cardbox_right" id="setting-body">

    </div>
</main>