<div class="col-md-12 pad0 cardbox subpanel-Overview widget fixed" name='widget-overview'>
    <div class="panel-heading">
        <div class="row">
            <div id="devName" class="col col-xs-6">
            </div>
        </div>
    </div>
    <div class="col-md-4 branch_device">
        <img id="devimg" alt="" class="img-responsive" style="margin: 0 auto;">
        <div id="OOB-service" class="remote" style="text-align: center;"></div>​
    </div>
    <div class="col-md-8" style="margin-top: 2%">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><b>Operating System</b></td>
                    <td id="overview-os"></td>
                </tr>
                <tr>
                    <td><b>CPU Name</b></td>
                    <td id="overview-cpu"></td>
                </tr>
                <tr>
                    <td><b>Memory capacity</b></td>
                    <td id="overview-mem"></td>
                </tr>
                <tr>
                    <td><b>Storage capacity</b></td>
                    <td id="overview-stor"></td>
                </tr>
                <tr>
                    <td><b>Device Status</b></td>
                    <td id="overview-status"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row subpanel-Overview widget" name='widget-overview'>
    <div id="cpu-loading-gauge"></div>
    <div id="mem-loading-gauge"></div>
    <div id="stor-lifespan"></div>
</div>