<div class="subpanel-NET widget sub-page" style="display: none;" name='net'>
    <h4 id="btn-indx-net">Network Card Index :</h4>
    <div class="row cardbox fixed panel-default dev_overview">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    Network Card Information
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
        <div class="panel-body pad0">
            <table class="table table-striped mem-0">
                <tbody>
                    <tr>
                        <td><b>Index</b></td>
                        <td id="net-id">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Name</b></td>
                        <td id="net-name">N/A</td>
                    </tr>
                    <tr>
                        <td><b>Type</b></td>
                        <td id="net-type">N/A</td>
                    </tr>
                    <tr>
                        <td><b>MAC Address</b></td>
                        <td id="net-mac">N/A</td>
                    </tr>
                    <tr>
                        <td><b>IPv4 Address</b></td>
                        <td id="net-ipv4">N/A</td>
                    </tr>
                    <tr>
                        <td><b>IPv4 Netmask</b></td>
                        <td id="net-gateway">N/A</td>
                    </tr>
                    <tr>
                        <td><b>IPv6 Address</b></td>
                        <td id="net-ipv6">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>