<!-- #region OOB Information -->
<div class="col-md-12">
    <div class="subpanel-OOB widget sub-page" style="display: none;" name='oob'>
        <h4>InnoAGE Index :<span id="btn-indx-innoage"></span></h4>
        <div class="col-md-12 pad0 cardbox">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        InnoAGE Information
                    </div>
                </div>
            </div>
            <div class="body-wrapper">
                <div class="body-left-wrapper">
                    <img id='InnoAGE-logo'/>
                </div>
                <div class="body-right-wrapper">
                    <h1>InnoAGE SSD</h1>
                    <div class="status-wrapper">
                        <div><span id='innoage-status' class="led grey"></span><span class="text-wrapper">Azure Sphere</span></div>
                        <div><span id='power-status' class="led orange"></span><span class="text-wrapper">Power Status</span></div>
                        <div><span id='hd-status' class="led orange"></span><span class="text-wrapper">HD Status</span></div>
                    </div>
                    <div class="oob-wrapper">
                        <div id="OOBTab-service"></div>​
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 pad0 cardbox">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        Detail Information
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <tbody style="border-bottom: 1px solid #ddd;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #region OOB Information End -->