<!-- #region Information -->
<div class="col-md-12">
    <div class="subpanel-eapi widget"  name='eapi' style="display: none;">
        <div style="font-size: 0;">
            <div class="eapi-icon-wrapper" name="temp">
                <img class="icon temp"></img>
            </div>
            <div class="EAPI_table" style="display: inline-block;width: 85%;">
                <table id='temp-table'>
                    <tbody style="height: 100px;">
                        <tr>
                            <td class="item">CPU</td>
                            <td class="item">
                            </td>
                        </tr>
                        <tr>
                            <td class="item">System</td>
                            <td class="item">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div style="font-size: 0;">
            <div class="eapi-icon-wrapper" name="fans">
                <img class="icon fan"></img>
            </div>
            <div class="EAPI_table" style="display: inline-block;width: 85%;">
                <table style="height: 200px;" id='fan-table'>
                    <tbody>
                        <tr>
                            <td class="item">CPU</td>
                            <td class="item"></td>
                        </tr>
                        <tr>
                            <td class="item">System</td>
                            <td class="item"></td>
                        </tr>
                        <tr>
                            <td class="item">System2</td>
                            <td class="item"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div style="font-size: 0;">
            <div class="eapi-icon-wrapper" name="voltage">
                <img class="icon voltage"></img>
            </div>
            <div class="EAPI_table" style="display: inline-block;width: 85%;">
                <table id='voltage-table'>
                    <tbody>
                        <tr>
                            <td class="item">VCORE</td>
                            <td class="item"></td>
                            <td class="item" style="font-weight: bold;">+12V</td>
                            <td class="item"></td>
                        </tr>
                        <tr>
                            <td class="item">VBAT</td>
                            <td class="item"></td>
                            <td class="item" style="font-weight: bold;">3VSB</td>
                            <td class="item"></td>
                        </tr>
                        <tr>
                            <td class="item">5V</td>
                            <td class="item"></td>
                            <td class="item" style="font-weight: bold;">VDDQ</td>
                            <td class="item"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #region Information end-->