<!-- #region Operating System Information -->
<div class="subpanel-OS widget sub-page" style="display: none;" name='os'>
    <div class="row cardbox panel-default dev_overview fixed">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    Operating System Information
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
        <div class="panel-body pad0">
            <table class="table table-striped">
                <tbody id="subpanel-OS-data">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- #endregion -->