<div class="modal fade" id="img-preview-modal" tabindex="-1" role="dialog" aria-labelledby="img-preview-label"
    data-backdrop="static" data-keyboard="false" backdrop:static>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- X -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="img-preview-close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- title -->
                <h4 class="c-title" id="img-preview-label">Images</h4>
            </div>
            <!-- image & data -->
            <div class="modal-body text-center">
                <!-- <img id="img" src="https://www.erv-nsa.gov.tw/image/10670/1024x768" alt="" class="img-thumbnail"> -->
                <img id="img-preview-img" alt="" class="img-thumbnail">
                <p id="img-time">
                    2017/12/21 16:21:32
                </p>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="img-preview-delete">Delete</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" id="img-preview-save">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="image-zoom">
    <img src='' width='100%' />
</div> -->