/* line 2, ../../sass/layout/header.sass */
.wrapper #nav {
  display: block;
  width: 250px;
  height: 100%;
  background-repeat: no-repeat;
  background-color: #16272e;
  background-position: -264px 245px !important;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
/* line 13, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu {
  position: fixed;
}
/* line 15, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu ul {
  padding-top: 50px;
}
/* line 17, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu ul li {
  padding: 10px;
  transition: all 0.3s;
}
/* line 20, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu ul li:hover {
  background: rgb(255, 255, 255);
  color: #0082BC;
}
/* line 23, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu ul a {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* line 27, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu ul a:active {
  background: #afdefa;
  color: #47a3da;
}
/* line 30, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu img {
  margin: 0 10px 0 5px;
}
/* line 32, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu .sidebar-header {
  padding: 50px 0 10px 0;
}
/* line 34, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu .sidebar-user {
  padding: 20px 0;
  background: #16272e;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}
/* line 38, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu .sidebar-user p {
  color: rgb(255, 255, 255);
  padding: 5px 0;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin: 0;
}
/* line 46, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu .sidebar-user small {
  color: #c1c1c1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 51, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu #dismiss {
  text-align: center;
  background-color: #16272e;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  -webkit-transform: all 0.3s;
  -o-transform: all 0.3s;
  transition: all 0.3s;
}
/* line 61, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu #dismiss:hover {
  opacity: 0.8;
}
/* line 63, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu-left {
  left: -250px;
  top: 0;
  z-index: 999;
}
/* line 67, ../../sass/layout/header.sass */
.wrapper .cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  top: 0;
}
/* line 70, ../../sass/layout/header.sass */
.wrapper .navbar {
  padding: 0 10px;
  background: #16272e;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 78, ../../sass/layout/header.sass */
.wrapper .navbar .navbar-header .btn {
  background: #16272e;
  color: rgb(90,98,105);
  padding: 10px;
}
/* line 82, ../../sass/layout/header.sass */
.wrapper .navbar .navbar-header .btn:hover {
  color: rgb(255,255,255);
}
/* line 84, ../../sass/layout/header.sass */
.wrapper .navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
/* line 88, ../../sass/layout/header.sass */
.wrapper .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #dddddd;
  margin: 40px 0;
}
/* line 93, ../../sass/layout/header.sass */
.wrapper .navbar-right {
  float: right;
  margin-bottom: 0;
  margin-right: -15px;
}
/* line 97, ../../sass/layout/header.sass */
.wrapper .navbar-right a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* line 100, ../../sass/layout/header.sass */
.wrapper .navbar-right li {
  list-style-type: none;
  padding: 15px 20px;
  float: left;
}
/* line 104, ../../sass/layout/header.sass */
.wrapper .navbar-right li:hover {
  background-color: #16272e;
}
/* line 106, ../../sass/layout/header.sass */
.wrapper .navbar-right i {
  font-size: 18px;
}
/* line 108, ../../sass/layout/header.sass */
.wrapper .navbar-right .t02 {
  white-space: mowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}
/* line 114, ../../sass/layout/header.sass */
.wrapper .navbar-right .badge {
  background-color: rgb(199,51,60);
  font-size: 12px;
  line-height: 20px;
  margin: 5px;
  padding: 0 2px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 20px;
  right: 2px;
}
/* line 130, ../../sass/layout/header.sass */
.wrapper .navbar-right .dropdown-menu {
  right: 0;
  left: auto;
  background-color: #efefef;
}
/* line 134, ../../sass/layout/header.sass */
.wrapper .navbar-right .dropdown-menu li {
  list-style-type: none;
  padding: 8px 5px;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
}
/* line 139, ../../sass/layout/header.sass */
.wrapper .navbar-right .dropdown-menu li:hover {
  background-color: #efefef;
}
/* line 141, ../../sass/layout/header.sass */
.wrapper .navbar-right .dropdown-menu a {
  color: rgb(90,98,105);
  background-color: #efefef;
  padding: 0px;
}
/* line 145, ../../sass/layout/header.sass */
.wrapper .navbar-right .dropdown-menu a:hover {
  color: #16272e;
  background-color: #efefef;
}
/* line 148, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event {
  margin-right: -55px;
  width: 300px;
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}
/* line 154, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event li {
  width: 100%;
}
/* line 156, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event li a {
  overflow: hidden;
  line-height: 15px;
}
/* line 159, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event li a .span-left {
  font-size: 14px;
  padding: 0;
  width: 60%;
}
/* line 163, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event li a .span-right {
  font-size: 12px;
  padding: 0;
  width: 40%;
  overflow: hidden;
  display: inline-block;
}
/* line 169, ../../sass/layout/header.sass */
.wrapper .navbar-right .menu-event li a .span-right i {
  font-size: 12px;
}
/* line 172, ../../sass/layout/header.sass */
.wrapper .tab-primary {
  position: relative;
  background: #5e676c;
}
/* line 175, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list {
  vertical-align: top;
  overflow: hidden;
  overflow-x: auto;
}
/* line 179, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list .list {
  display: inline-block;
  white-space: nowrap;
}
/* line 182, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list .list a {
  vertical-align: top;
  display: inline-block;
  padding: 12px 20px;
  color: rgb(255,255,255);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
/* line 190, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list .list a:hover {
  text-shadow: 0px 0px 10px rgba(225, 225, 225, 0.8);
  /* color: rgb(255,255,255); */
}
/* line 192, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list .list .divider {
  vertical-align: top;
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #979797;
  margin: 14px 0;
}
/* line 199, ../../sass/layout/header.sass */
.wrapper .tab-primary .tab-list select {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  background: #5e676c;
  border: 1px solid #979797;
  color: rgb(255,255,255);
}
/* line 207, ../../sass/layout/header.sass */
.wrapper .tab-secondary {
  position: relative;
  background: rgb(255,255,255);
}
/* line 210, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list {
  vertical-align: top;
  overflow: hidden;
  overflow-x: auto;
}
/* line 214, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list .list {
  display: inline-block;
  white-space: nowrap;
}
/* line 217, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list .list a {
  vertical-align: top;
  display: inline-block;
  padding: 8px 18px;
  color: #16272e;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 224, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list .list a:hover {
  background: rgb(255,255,255);
  color: #16272e;
  border-bottom: 2px solid red;
}
/* line 228, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list .list .divider {
  vertical-align: top;
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #979797;
  margin: 13px 0;
}
/* line 235, ../../sass/layout/header.sass */
.wrapper .tab-secondary .tab-list .list .hover {
  background: rgb(255,255,255);
  color: #16272e;
  border-bottom: 2px solid red;
}
/* line 241, ../../sass/layout/header.sass */
.wrapper #sidebarCollapse i {
  font-size: 18px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}
/* line 245, ../../sass/layout/header.sass */
.wrapper #sidebarCollapse i:hover {
  opacity: 0.8;
}
