.loginForm {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  focus-outline: -webkit-focus-ring-color auto 0;
}
.loginForm > h1 {
  font-family: "Segoe UI";
  padding: 5% 0 7% 0;
}
.loginForm .btn.active.focus, .loginForm .btn.active:focus, .loginForm .btn.focus, .loginForm .btn:active.focus, .loginForm .btn:active:focus, .loginForm .btn:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
.loginForm .form-group {
  height: 50px;
}
.loginForm .form-control {
  font-size: 100%;
  letter-spacing: 0.07em;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 1px transparent;
}
.loginForm .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
  box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}
.loginForm .form-label {
  position: absolute;
  pointer-events: none;
  color: #999;
  top: 3px;
  font-size: 110%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.loginForm .form-input:focus ~ .form-label, .loginForm .form-input:valid ~ .form-label {
  top: -17px;
  font-size: 95%;
}
.loginForm .form-control {
  background-color: transparent;
  border-bottom: 2px solid rgb(199,51,60);
  border-radius: 0;
  padding-left: 0;
}
.loginForm .form-control:focus {
  border-color: transparent;
  border-bottom: 2px solid #9c9e9f;
}
.loginForm .btn {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  position: relative;
  transition: all 0.15s ease-in-out;
}
.loginForm .btn:hover, .loginForm .btn:focus, .loginForm .btn:active, .loginForm .btn:active:focus {
  outline: none;
  transition: all 0.15s ease-in-out;
}
.loginForm .btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
}
.loginForm .btn:active {
  box-shadow: none;
  transition-duration: 0.05s;
  transform: translateY(1px);
}
.loginForm .btn.btn-primary {
  background-color: #34495e;
  color: rgb(255, 255, 255);
}
.loginForm .btn.btn-primary:hover, .loginForm .btn.btn-primary:focus, .loginForm .btn.btn-primary:active {
  background-color: #253544;
}
.loginForm .btn.btn-primary:active {
  background-color: #1e2a37;
}
.loginForm .btn-default.focus, .loginForm .btn-default.submit:focus, .loginForm .btn-default.submit:hover {
  color: rgb(255, 255, 255);
  background-color: #5e676c;
  border-color: transparent;
}
.loginForm .form-inline .loginPwReset {
  margin-top: 0.625em;
}
.loginForm .form-footer {
  margin: 5px 0 10px 0;
}
